body {
  background:linear-gradient(rgb(240, 243, 245),
  rgb(211, 223, 231),
  rgb(222, 241, 250),
  rgb(248, 248, 250));
  font-family:  'Roboto Slab', serif;
}

.logo img {
  width: 220px;
  left: 300px;
  height: auto;
  position: relative;
  top: 10px;
  left: 10px;
}    
.nav-bar a {
  font-weight: 400;
  color: #8d0808;
  position: relative;
  top: -80px;
  right: -300px;
  font-size: 20px;
  
}
.nav-bar ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
 }

.nav-bar a:hover {
  color: rgb(7, 32, 102);
  text-decoration: none;
}


.nav-bar ul li {
  margin: 0 15px;
  font-weight: 300;
  color: #8d0808;
}

.botonesmenu button{
  position: relative;
  top:0px;
  right: -26px;
  width: 150px;
  margin: 10px;
}
.buscar input{
  width: 50px;
  position: relative;
  right:-989px;
  top: 30px;
  font-family:'Roboto Slab';    
  }
  .buscar button{
   width: 90px;
   position: relative;
   right:-1230px;
   top: -8px;
   font-family:'Roboto Slab'; 
  }
  .buscar{
    width: 3px;
    height: 3px;
  }

.redessociales{
text-align: center;
 border-radius: 10px;
 background-color: transparent;
 width: 1200px;
 left: auto;
 -webkit-box-shadow: 10px 10px 50px 30px #59B7FF;
 box-shadow: 10px 10px 50px 30px #59B7FF;
 position: relative;
 top: -30px;
 right: -40px;
 padding: 0%;
 margin-top: 30px;
 display: flex;   
}

.botonesmenu button{
  position: relative;
  top:0px;
  right: -26px;
  width: 150px;
  margin: 10px;
}
.buscar input{
  width: 50px;
  position: relative;
  right:-989px;
  top: 30px;
  font-family:'Roboto Slab';    
  }
  .buscar button{
   width: 90px;
   position: relative;
   right:-1230px;
   top: -8px;
   font-family:'Roboto Slab'; 
  }
  .buscar{
    width: 3px;
    height: 3px;
  }

.redessociales{
text-align: center;
 border-radius: 10px;
 background-color: transparent;
 width: 1200px;
 left: auto;
 -webkit-box-shadow: 10px 10px 50px 30px #59B7FF;
 box-shadow: 10px 10px 50px 30px #59B7FF;
 position: relative;
 top: -30px;
 right: -40px;
 padding: 0%;
 margin-top: 30px;
 display: flex;   
}

  h2{
    font-family:'Roboto Slab', serif ; 
    font-size: 35px;
    color: #740606; 
  }

  
  .container img {  
    position: relative;
    top: -5px;
    left: 10px;
    width: 300px;
    height: 300px;
    padding: 0%;
    margin: 0%;
  }
  


  .box2{
  text-align: center;
   border-radius: 10px;
   background-color: transparent;
   width: 1280px;
   left: auto;
   -webkit-box-shadow: 10px 10px 50px 30px #59B7FF;
   box-shadow: 10px 10px 50px 30px #59B7FF;
   position: relative;
   top: -30px;
   right: -40px;
   padding: 0%;
   margin-top: 30px;
   display: flex;   
  }
  .box2 img{
      align-self: center;
      width: 100px;
      align-items: center;
      margin: 0%;
      padding: 0%;
  }
  