#crear{
    color: rgb(70, 5, 5);
    display: block;
    margin:auto;
}
#crear{
    border: solid 1px  rgb(70, 5, 5);;
   position: relative;
    width:1000px;
    height: 390px;
   background: linear-gradient(to bottom,
   rgba(206, 201, 203, 0.6),
   rgba(29,100,171, .3),
   rgba(250, 161, 67, 0.575));

   padding: 10px;
}
.proingresa1{
    display: flex;
    text-align: center;
    position: relative;
    right: -4%;
}
.resp1{
    bottom: 28px;
    display: flex;
    text-align: center;
    position: relative;
    right: -21%;
}
.proingresa2{
    bottom: 270px;
    text-align: center;
    position: relative;
    right: -65%;
    display: flex;
}
.resp2{
    bottom: 298px;
    
    text-align: center;
    position: relative;
    right: -76%;
    display: flex;
}
.guardar{
    bottom: 270px;
    width: 60%;
    text-align: center;
    position: relative;
    right: -20%;
    background: rgb(70, 5, 5);
    color: #f2f2f2;
    border: none;
}
.guardar:hover{
    background: rgb(0, 102, 255);
}
.volver{
    bottom: 270px;
    width: 60%;
    position: relative;
    right: -40%;
    color: #031a58;
    border: none;
}

