:root{
    --color1: rgb(219,144,.5);
    --color2: rgba(23,180,83, 0.788);
    --color3: rgba(11,194,211,0.623);
    --color4: #682222;
    --fondo: #f2f2f2;
    --titulos: 33px;
    --margenes: 60px;
    --espacios: 50px;
    --espacios-contenido:45px;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'arial';
    background: black;
}
img{
    vertical-align: top;
}
header{
    width: 100%;
    height: 600px;
    background: linear-gradient(to bottom,
    rgba(206, 201, 203, 0.6),
    rgba(29,100,171, .6),
    rgb(250, 162, 67)
    ), url(../img/fondo.jpg);
    background-attachment:fixed;
    background-position: center;
    background-size: cover;
    margin-bottom: var(--espacios-contenido);
}
nav{
    width: 100%;
    position: fixed;
    box-shadow: 0 0 10px 0 rgba(0,0,0,.5);
}
.nav1{
    background: transparent;
    height: 80px;
    color: #ffff;
}
.nav2{
    background: var(--fondo);
    height: 100px;
    color: #000;
}
.contenedor-nav{
    display: flex;
    margin: auto;
    width: 90%;
    justify-content: space-between;
    align-items: center;
    max-width: 1000px;
    height: inherit;
    overflow: hidden;
}
nav .enlaces a{
    display: inline-block;
    padding: 5px 0;
    margin-right: 17px;
    font-size: 17px;
    font-weight: 300;
    text-decoration: none;
    border-bottom: 3px solid transparent;
    color: var(--color4);
    }
nav .enlaces a:hover{
    border-bottom: 3px solid var(--color3);
}
.logo, .logo img{
    width: 150px;
    height: 120;
}
.icono{
    display: none;
    font-size: 24px;
    padding: 23px 20px;
}

.textos{
    width: 100%;  
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    color:#ffff;
    overflow: hidden;
    text-align: center;
}

.textos>h1{
    font-size: 80px;
}
.textos>h2{
    font-size: 30px;
    font-weight: 300;
    color: var(--color4);
}
.contenedor1{
    margin: auto;
    width: 90%;
    max-width: 1000px;
    text-align: center;
    overflow: hidden;
}
.contenedor1 h3{
    font-size: var(--titulos);
    color: var(--color4);
}
.contenedor{
    margin: auto;
    padding: var(--margenes);
    width: 90%;
    max-width: 1000px;
    text-align: center;
    overflow: hidden;
}
.contenedor h3{
    font-size: var(--titulos);
    color: var(--color4);
}
.contenedor p{
    font-size: var(--subtitulos);
    font-weight: 300;
    color: var(--color4);
}

h2{
    color: var(--color4);
    text-align: center;
}

#regi{
    color: var(--color4);
    display: block;
    margin:15px;
}
#regi{
    position: relative;
    right:-350px;
    width:50%;
   background: linear-gradient(to bottom,
   rgba(206, 201, 203, 0.6),
   rgba(29,100,171, .3),
   rgba(250, 161, 67, 0.575));
   text-align: center;
   padding: 10px;
   margin-bottom: var(--espacios-contenido);
}
.form{
    display: flex;
    text-align: center;
    position: relative;
    right: -20%;
}
.resp{
    bottom: 28px;
    display: flex;
    text-align: center;
    position: relative;
    right: -55%;
}

.guardar{
    width: 60%;
    text-align: center;
    background: rgb(70, 5, 5);
    color: #f2f2f2;
    border: none;
}
.guardar:hover{
    background: rgb(0, 102, 255);
}


footer{
    background: linear-gradient(to bottom,
    rgba(16, 50, 90, 0.6),
    rgba(2,0,1, .6)
    ), url(../img/fondo6.jpg);
}
.marca-logo{
    width: 100%;
    margin: auto;
    margin-bottom: var(--espacios);
}
.marca-logo img{
    width: 20%;
}
.iconos{
    display: flex;
    margin: auto;
    justify-content: space-around;
    width: 100%;
}
.icono img{
    font-size: 60px;
    color: #f2f2f2;
    margin-bottom: var(--espacios);
    display: inline-block;
}
footer p{
    margin-top: var(--espacios);
}


/** media queries responsive **/
@media screen and (max-width: 700px){
    .nav2{
            color: #ffff;
        }

    .icono{
        display: block;
        cursor: pointer;
    }
    .enlaces{
        position: fixed;
        top: 80px;
        background: linear-gradient(to bottom,
        rgba(206, 201, 203, 0.6),
        rgba(29,100,171, .6),
        rgb(250, 162, 67)
        );
        left: 0;
        height: 70%;
        transition: 1s;
    }
    .enlaces a{
        display: block;
        width: 100%;
        height: 50px;
        padding: 20px;
        text-align: center;
        background: linear-gradient(to bottom,
        rgba(29,100,171, .6)
        );
    }
    .textos>h1{
        font-size: 70px;}
    .textos>h2{
        font-size:35px;}
  
    .content-card{
      width: 45%;
      margin-bottom:var(--margenes);
    }
  
    :root{
      --margenes: 30px;
    }
}

@media screen and (max-width: 500px){
    :root{
      --espacios-contenido: 25px;
    }
  
    .content-card{
      width: 80%;
    }
  
    .caja-servicios{
      width: 80%;
      margin-bottom: var(--margenes);
    }
  
    .cont-work{
      width: 80%;
    }
  
    .marca-logo{
      width: 80%;
    }
  
    .iconos{
      margin: auto;
    }
  }
